[submodule "Homework3/submodules/pointnext"]
	path = Homework3/submodules/pointnext
	url = https://github.com/kentechx/pointnext.git
[submodule "Homework3/submodules/pointnet2"]
	path = Homework3/submodules/pointnet2
	url = https://github.com/charlesq34/pointnet2.git
[submodule "Homework3/submodules/openpoints"]
	path = Homework3/submodules/openpoints
	url = https://github.com/guochengqian/openpoints.git
[submodule "Homework3/submodules/PointNeXt"]
	path = Homework3/submodules/PointNeXt
	url = https://github.com/guochengqian/PointNeXt.git
[submodule "Homework3/submodules/pointnext2"]
	path = Homework3/submodules/pointnext2
	url = https://github.com/guochengqian/PointNeXt.git
[submodule "Homework3/submodules/Muon"]
	path = Homework3/submodules/Muon
	url = https://github.com/KellerJordan/Muon
[submodule "Final_Project/submodules/Diffusion-SDF"]
	path = Final_Project/submodules/Diffusion-SDF
	url = git@github.com:ttlmh/Diffusion-SDF.git
[submodule "Final_Project/submodules/PVD"]
	path = Final_Project/submodules/PVD
	url = git@github.com:alexzhou907/PVD.git
[submodule "Final_Project/submodules/diffusion-point-cloud"]
	path = Final_Project/submodules/diffusion-point-cloud
	url = git@github.com:luost26/diffusion-point-cloud.git
[submodule "Final_Project/submodules/meshflow"]
	path = Final_Project/submodules/meshflow
	url = org-16943930@github.com:facebookresearch/meshflow.git
